<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WeShare/


RewriteRule   ^Accueil([./.]*)$   /WeShare/index.php?page=accueil.php [NC]
RewriteRule   ^Connexion([./.]*)$   /WeShare/index.php?page=login.php [NC]
RewriteRule   ^Login([./.]*)$   /WeShare/index.php?page=login [NC]
RewriteRule   ^Inscription([./.]*)$   /WeShare/index.php?page=register.php [NC]
RewriteRule   ^Register([./.]*)$   /WeShare/index.php?page=register [NC]
RewriteRule   ^Search([./.]*)$   /WeShare/index.php?page=search [NC]
RewriteRule   ^Membres/AddFriend/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=membres.php&addFriend=$1 [NC]
RewriteRule   ^Membres/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=membres.php&profil=$1 [NC]
RewriteRule   ^Membres([./.]*)$   /WeShare/index.php?page=membres.php [NC]
RewriteRule   ^Groupe/Ajouter/([0-9]+)([./.]*)$   /WeShare/index.php?page=group.php&action=add&group=$1 [NC]
RewriteRule   ^Groupe/Retirer/([0-9]+)([./.]*)$   /WeShare/index.php?page=group.php&action=delete&group=$1 [NC]
RewriteRule   ^Groupe/Supprimer/([0-9]+)([./.]*)$   /WeShare/index.php?page=group.php&action=supprimer&group=$1 [NC]
RewriteRule   ^Groupe/Creer([./.]*)$   /WeShare/index.php?page=group.php&action=createGroup [NC]
RewriteRule   ^Groupe/([a-z0-9\-]+)/([0-9]+)([./.]*)$   /WeShare/index.php?page=group.php&group=$2&redirect=$1 [NC]
RewriteRule   ^Film/([a-z0-9\-]+)/([0-9]+)([./.]*)$   /WeShare/index.php?page=ficheFilm.php&idMovie=$2&redirect=$1 [NC]
RewriteRule   ^Films([./.]*)$   /WeShare/index.php?page=films.php [NC]
RewriteRule   ^Films/addFilms([./.]*)$   /WeShare/index.php?page=films.php&action=addFilms [NC]
RewriteRule   ^Films/Editer/.*/([0-9]+)([./.]*)$   /WeShare/index.php?page=films.php&action=editMovie&idMovie=$1 [NC]
RewriteRule   ^Films/EditerFilm/.*/([0-9]+)([./.]*)$   /WeShare/index.php?page=films.php&action=editMovie.php&idMovie=$1 [NC]
RewriteRule   ^Films/Suppression/([0-9]+)([./.]*)$   /WeShare/index.php?page=films.php&action=deleteMovie&idMovie=$1 [NC]
RewriteRule   ^Evenements([./.]*)$   /WeShare/index.php?page=evenements.php [NC]
RewriteRule   ^Deconnexion([./.]*)$ /Weshare/index.php?page=deconnexion [NC]
RewriteRule   ^Profil([./.]*)$   /WeShare/index.php?page=profil.php [NC]
RewriteRule   ^Profil/Edit([./.]*)$   /WeShare/index.php?page=profil.php&action=edit [NC]
RewriteRule   ^Profil/Edit/ModifierProfil([./.]*)$   /WeShare/index.php?page=profil.php&action=edit&subaction=changeprofil [NC]
RewriteRule   ^Profil/Amis([./.]*)$   /WeShare/index.php?page=profil.php&action=amis [NC]
RewriteRule   ^Profil/Amis/Retirer/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=profil.php&action=amis&suppr=$1 [NC]
RewriteRule   ^Profil/Amis/Accepter/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=profil.php&action=amis&add=$1 [NC]
RewriteRule   ^Profil/Amis/Refuser/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=profil.php&action=amis&no=$1 [NC]
RewriteRule   ^Profil/Amis/Ignorer/([a-z0-9\-]+)([./.]*)$   /WeShare/index.php?page=profil.php&action=amis&ignore=$1 [NC]
RewriteRule   ^Profil/Films([./.]*)$   /WeShare/index.php?page=profil.php&action=films [NC]
RewriteRule   ^Profil/([a-z0-9\-]+)([./.]*)$ /Weshare/index.php?page=profil.php&action=$1 [NC]

</IfModule>
